PORT=3000
MONGODB_URI=mongodb://localhost:27017/digitalsubdesk
SESSION_SECRET=change_this_to_random_string
ADMIN_USER=admin
ADMIN_PASS=change_this_password
WA_NUMBER=880XXXXXXXXX
FB_PAGE=https://web.facebook.com/subdeskofficial
